.about-banner {
	position: relative;
	.img {
		margin-left: 75px;
	}
	.banner-text {
		position: absolute;
		background: $primary-color;
		color: #000;
		display: inline-block;
		text-transform: capitalize;
		padding: 40px 30px;
		bottom: 20px;
		h2 {
			font-weight: 700;
		}

	}
}